@media screen and (max-width: 378px) {
    .page {
        width: 320px;
    }
    .special_block{
        width: 300px;
    }
}

@media screen and (max-width: 678px) {
    .page {
        width: 300px;
    }
    .special_block{
        width: 300px;
    }
    #years{
        display: block;
        text-align: center;
    }
    #author_wrapper{
        display: block;
    }
}

@media screen and (min-width: 678px) {
    .page {
        width: 620px;
    }
    .special_block{
        width: 620px;
    }
    #years{
        display: inline-block;
    }
    #author_wrapper{
        display: inline-block;
        float: right;
    }
}

@media screen and (min-width: 998px) {
    .page {
    width: 940px;
    }
}

@media screen and (min-width: 1318px) {
    .page {
    width: 1260px;
    }
}

@media screen and (min-width: 1638px) {
    .page {
    width: 1580px;
    }
}

@media screen and (min-width: 1958px) {
    .page {
    width: 1900px;
    }
}
