@media screen and (max-width: 680px) {
    .page {
        width: 340px;
    }
    .special_block{
        width: 300px;
    }
}

@media screen and (min-width: 680px) {
    .page {
        width: 660px;
    }
    .special_block{
        width: 620px;
    }
}

@media screen and (min-width: 1000px) {
    .page {
    width: 980px;
    }
}

@media screen and (min-width: 1320px) {
    .page {
    width: 1300px;
    }
}

@media screen and (min-width: 1640px) {
    .page {
    width: 1620px;
    }
}

@media screen and (min-width: 1960px) {
    .page {
    width: 1920px;
    }
}
