@import "_lib";
@import "_bxslider";
@import "_jquery.lightbox";

$w: 20px;
$h: 20px;

html{
  height: 100%;
  font: normal 16px NewBaskervilleC;
  outline: none;

  body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #eff2f7;
    outline: none;
  }
}

.page {
  position: relative;
  margin: auto;
}

/*---------- HEADER ----------*/

#header {
  width: 100%;
  height: 80px;
  background: #282a2d;

  #logo {
    width: 41px;
    height: 56px;
    margin: 12px 15px;
    float: left;
    background: url(../images/feet.png);
  }
  #title {
    position: relative;
    top: 15px;
    font: normal 32px NewBaskervilleC;
    color: white;
  }
  #slogan {
    top: 10px;
    position: relative;
    font: normal 11px PT Sans;
    color: #4c4f54;
  }
}


/*---------- CONTENT ----------*/

#content {
  padding: 60px 0;
}

#menu ul{
  margin: 0;
  padding: 0;

  #nowopen{
    border-bottom: 2px solid black;
  }

  li {
    margin: 5px;
    margin-right: 27px;
    display: inline-block;

    a{
      outline: none;
      text-decoration: none;
      font: normal 12px PT Sans;
      color: #9fa2a8; /*#bfc2c8;*/

      &:hover {
        color: #242526;
      }

      #nowopen {
        font-weight: bold;
        color: #242526;
        border-bottom: 2px solid #242526;
      }
    }
  }
}

#blocks_wrapper{
  margin-left: -20px;
  margin-right: -20px;
}

#blocks_area {
  margin-left: 20px;
  display: inline-table;
}

#special_menu {
  position: relative;
  margin: 150px 0 0 20px;
  color: white;

  li{
    height: 45px;

    a{
      color: white;
      font: normal 20px NewBaskervilleC;
      text-decoration: none;
    }
  }

}


.block {
  width: 300px;
  height: 200px;
  margin: 20px 20px 0 0;
  position: relative;
  display: inline-block;
  color: white;

  &:hover {
    cursor: pointer;
  }

  .country_name {
    position: absolute;
    top: 75px;
    width: 300px;
    text-align: center;
    font: normal 36px NewBaskervilleC;
    //@include transition(all .15s ease-in-out);
//    -webkit-transition: all 0.15s ease-in-out;
//    -moz-transition: all 0.15s ease-in-out;
//    transition: all 0.15s ease-in-out;
  }

  &:hover .country_name{
    top: 150px;
    left: 10px;
    text-align: left;
    font: normal 24px NewBaskervilleC;
  }

  .country_name_special {
    top:75px;
    left: 30px;
    height: 40px;
    position: absolute;
    font: normal 40px NewBaskervilleC;
    color: white;
  }
}

.special_block{
  cursor: default !important;
  width: 620px;
  height: 420px;
  float: right;
}

.bxslider{
  color: red;
  font-weight: bold;
}

#blocks_area #special {
  background: url("../images/countries/Latin_America.jpg");
}

/*---------- FOOTER ----------*/

#footer {
  position: relative;
  background: #282a2d;

  #years {
    position: relative;
    padding: 22px 10px;
    font: normal 16px NewBaskervilleC;
    color: #5e6267;
  }

  #slogan {
      display: inline-block;
      position: relative;
      right: 0;
      margin: 0;
      padding: 22px 0	;
      font: normal 14px PT Sans;
      color: #5e6267;
  }
  #author {
      display: inline-block;
      padding: 22px 5px;
      font: normal 14px PT Sans;
      color: #8f9397;
  }
  #logo {
      display: inline-block;
      width: 28px;
      height: 33px;
      float: right;
      margin: 13px 10px;
      background: url(../images/running_man.png);
  }
}